* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  background-color: black;
}

.container {
  max-width: 90%;
  margin: 70px auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.grid__item {
  width: calc((100% - 96px) / 7);
  position: relative;
}

.grid__item img {
  width: 100%;
  aspect-ratio: 16/9;
}

.grid-item__username {
  display: flex;
}

.label {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  color: white;
  border-radius: 4px;
}

.right-top-labels {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
}

/* footer */
footer {
  display: flex;
  background-color: #202020;
  justify-content: space-between;
  font-size: 12px;
}

.actions {
  color: white;
  align-items: center;
  display: flex;
  gap: 16px;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-block: 16px;
}

.action i {
  font-size: 32px;
}

/* Modifier */
.label--speaker-view {
  display: flex;
  gap: 8px;
}

.label--mute {
  position: absolute;
  left: 0;
  bottom: 4px;
}

.label--username {
  border-radius: 0;
  padding: 4px;
}

.action--invite {
  align-items: flex-start;
}

.action--share {
  color: green;
}

.action--end-meeting {
  color: red;
  padding: 20px;
  background-color: #464646;
  justify-content: center;
}

.actions__call {
  margin-left: 16px;
}
